<div class="border-bottom pl-3" fxLayout="row">
    <button *ngIf="showBackButton"
            class="marker-action-back"
            (click)="back()"
            mat-icon-button>
        <fa-icon icon="arrow-left"></fa-icon> 
    </button>
    <buttons [disableCompleteButton]='disableCompleteButton'
            [disableDeleteButton]='disableDeleteButton'
            [disableEditButton]='disableEditButton'
            [hideCompleteButton]='hideCompleteButton'
            [hideEditButton]='hideEditButton'
            [tasks]='tasks'
            fxFlex></buttons>
    <span class="spacer"></span>
    <mat-paginator [hidePageSize]="hidePageSize"
                [length]="length" 
                [pageSize]="pageSize" 
                [pageSizeOptions]="pageSizeOptions" 
                [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>
</div>