<div mat-dialog-title>
    <span>
        <fa-icon icon="trash"></fa-icon> 
        Delete Task
    </span>
</div>
<mat-dialog-content>
    {{text}}
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button (click)="cancel()" class="marker-action-cancel">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="delete()" class="marker-action-delete">
        <span>
            <fa-icon icon="trash"></fa-icon> 
            Delete
        </span>
    </button>
</mat-dialog-actions>